<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>McRondalds</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <!-- <main class="main">

        <header class="header">
            <nav>
                <ul>
                    <a href="/login"><li class="Login">Login</li></a>
                    <a href="/signup"><li class="Signup">Signup</li></a>
                    <a href="#Reviewss"><li class="AboutUs">Reviews</li></a>
                    
                </ul>
            </nav>
        </header>

        <h1 class="McRonalds">Welcome to <br>McRonalds!</h1>
    </main>

    <section class="Reviews" id="Reviewss">
        <h2>Our Reviews</h2>

        <span class="reviewOne">"Makes it super easy for chefs to complete orders!" <br>-Chef Antonio <br></span>

        <span class="reviewTwo">"I can't wait to eat here again!" <br>-The cow from Chick-fil-A <br></span>

        <span class="reviewThree">"It's okay I guess." <br>-Master Chief </span> -->

        <div class="container col-xxl-8 px-4 py-5 bg-light">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://images.unsplash.com/photo-1609692993080-93a227926e37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">McRondalds</h1>
                <p class="lead">Signup and create an account to hold your orders. Check out our menu and order your favorite foods. Click on the picture of what you want to add it to your order!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"> <a href="/login" class="text-light">Login</a></button>
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/signup">Signup</a></button>

                 <!--  <a href="/login"><li class="Login">Login</li></a>
                  <a href="/signup"><li class="Signup">Signup</li></a>
 -->
                </div>
              </div>
            </div>
          </div>
        


</body>

</html>